{% extends "streapp/plantilla_base.html" %}

{% block contenido_base %}

<p></p>

<h1 class="display-5 fw-bolder text-black mb-2">Series</h1> 

<p></p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Genero</th>
        <th scope="col">fecha</th>
        <th scope="col">Edad Minima</th>
      </tr>
    </thead>
    <tbody>
    {% for lista in listas %} 
      <tr>
        <th scope="row">{{lista.id}}</th>
        <td>{{lista.nombre}}</td>
        <td>{{lista.genero}}</td>
        <td>{{lista.fecha}}</td>
        <td>{{lista.aptoPara}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

<p></p>
<p></p>

<a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'form_series' %}">Crear serie!</a>
<a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'buscar_serie' %}">Buscar serie!</a>
<p></p>

{% endblock contenido_base %}